<aside class="sidemenu teal lighten-2 white-text">
  <h1 style="text-align:center; font-size:1.8rem;"><a href="/">Inventory</a></h1>
  <h1 style="text-align:center; font-size:1.8rem;"><a href="/dashboard">Dashboard</a></h1>
</aside>