<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/styles %>
    <link rel="stylesheet" href="css/inventory.css">
    <style>
        #body {
            width: 100%;
            height: 100%;
            padding: 3%;
            background-color: #00C853;
            margin: auto;
        }

        #btnContainer {
            margin: auto;
            bottom: 10%;
            width: 100%;
        }

        #btnContainer > div {
            float: left;
            height: 300px;
            width: 30%;
        }

        #btnContainer > div > button {
            height: 100px;
            width: 200px;
        }

        .smartie {
            width: 50px;
            height: 50px;
            margin: 5px;
            float: left;
            border-radius: 50%;
            position: relative;
        }

        .smartie.animated {
            animation: mymove 1.5s ease-in-out;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        @keyframes mymove {
            from {
                left: 400px;
            }
            to {
                left: 0px;
            }
        }
    </style>
    <title>Inventory</title>
</head>
<body>

<main>
    <% include partials/sidemenu %>

    <div id="body" class="grey lighten-2">
        <div>
            <h4>How to assemble your workpiece:</h4>
        </div>

        <div id="err-tmpl" class="hide">
            <h1>You don't have any items ordered, at the moment.</h1>
        </div>

        <div id="take-item-tmpl" class="hide">
            <h1>Take <span class="amount">nAmount</span> <span class="type">itemtype</span> out of the blinking box.
            </h1>
            <h1>
                <a class="btn-floating btn-large pulse blue darken-1 center"
                   style="height: 100px; width: 100px;">
                    <i class="material-icons">inbox</i>
                </a>
            </h1>
        </div>

        <div id="assembly-item-tmpl" class="hide">
            <h1>Place the parts as shown below!</h1>
            <br>
            <div class="smartieContainer"></div>
        </div>

        <div id="finished-tmpl" class="hide">
            <h1>Great, you are finished!</h1>
            <h1><i class="material-icons" style="font-size: 150px;">verified_user</i></h1>
        </div>

        <div id="btnContainer">
            <div class="left-align valign-wrapper">
                <button type="button" class="btn blue-grey darken-1 center-block" id="prevStep">
                    <i class="material-icons left">chevron_left</i>Back
                </button>
            </div>
            <div class="right valign-wrapper">
                <button type="button" class="btn blue-grey darken-1 center-block" id="nextStep">
                    <i class="material-icons right">chevron_right</i>Next
                </button>
            </div>
        </div>

    </div>

</main>

<% if(items.length > 0){ %>
    <script>
        window.orderedItems = <%- JSON.stringify(items) %>;
    </script>
<% } %>

<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script> let socket = io(); </script>
<script type="text/javascript" src="js/assembly.js"></script>
</body>
</html>