<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include partials/styles %>
  <link rel="stylesheet" href="css/dashboard.css">
  <title>Dashboard</title>
</head>
<body>

  <main>
    <% include partials/sidemenu %>
    <section class="dashboard">
      <div class="row">
          <div id="chart" class="col s7"></div>
          <div id="c1" class="col s5"></div>
      </div>
      <!-- <div class="row">
          <div id="c2" class="col s4"></div>
          <div id="c3" class="col s8"></div>
      </div>
      <div class="row">
          <div id="heat" class="col s12"></div>
      </div> -->
    </section>
  </main>

  <button id="gen" class="btn btn-large teal">Generate new data</button>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="js/dashboard.js"></script>
</body>
</html>