<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.css" media="screen,projection">
  <link rel="stylesheet" href="css/inventory.css">
  <title>Inventory</title>
</head>
<body>
  
  <!-- <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper teal lighten-2">
          <a href="#" class="brand-logo">Inventory</a>
        </div>
      </nav>
    </div>
  </header> -->

  <main>
    <aside class="sidemenu teal lighten-2 white-text">

    </aside>
    <section class="dashboard">
      <ul class="container">
        <% items.forEach(item => { %>
          <li class="card teal lighten-2 white-text">
            <div class="card-content">
              <span class="card-title"><%= item.name %></span>
              <p><%= item.toString() %></p>
            </div>
          </li>
        <% }) %>
      </ul>  
    </section>
  </main>

  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/inventory.js"></script>
</body>
</html>