<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.css" media="screen,projection">
  <title>Document</title>
</head>
<body>
  <main>
      <h1>Sensor readout</h1>
      <p id="current"></p>
      <p id="high"></p>
      <p id="low"></p>
      <p id="avg"></p>
      <h2 id="percent"></h2>
      <button id="zero" class="btn">Zero Sensor</button>
      <button id="zerohigh" class="btn">Zero High</button>
      <button id="disco" class="btn">Disco Toggle</button>
      <button id="reset" class="btn red">RESET</button>
  </main>

  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io();
    const $current = document.getElementById('current');
    const $high = document.getElementById('high');
    const $low = document.getElementById('low');
    const $avg = document.getElementById('avg');
    const $reset = document.getElementById('reset').addEventListener('click', e => {
      high = 0;
      low = 0;
      avg = 0;
      sum = 0;
      amount = 0;
      $current.innerHTML = `Current: ${0}`;
      $high.innerHTML = `All time high: ${high}`;
      $low.innerHTML = `All time low: ${low}`;
      $avg.innerHTML = `Average: ${avg}`;
    });
    let disco = false;
    const $disco = document.getElementById('disco').addEventListener('click', e => {
      disco = !disco;
      socket.emit('disco', disco);
      });

    let high = 0;
    let low = 0;
    let avg = 0;
    let sum = 0;
    let amount = 0;


    $percent = document.getElementById('percent')

    $zerohigh = document.getElementById('zerohigh').addEventListener('click', e => {zerohigh = true})
    let zero = false;
    let zerolow;
    let zerohigh;
    const $zero = document.getElementById('zero').addEventListener('click', e => {
      zero = true;
      zerolow = true;
    });
    const scale = (num, in_min, in_max, out_min, out_max) => {
      return (num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
    }





    socket.on('sensor-update', value => {
      value = parseInt(value)
      if(value > high) {
        high = value;
      }
      if(low == 0 || value < low) {
        low = value;
      }
      if(zerolow === true) {
        zerolow = value;
      }
      if(zerohigh === true) {
        zerohigh = value;
      }
      if(zero) {
        let weight = Math.round(scale(value, zerolow, zerohigh, 0, 100));
        if(weight > 100) {
          weight = 100;
        }
        if(weight < 0) {
          weight = 0;
        }
        let fullness = (value < zerolow-10000) ? 'Empty' : (weight)+"%";
        $percent.innerHTML = fullness;
        // send fullness to server..
        socket.emit('fullness', weight);
      }

      amount += 1;
      sum += value;
      avg = sum/amount;

      $current.innerHTML = `Current: ${value}`;
      $high.innerHTML = `All time high: ${high}`;
      $low.innerHTML = `All time low: ${low}`;
      $avg.innerHTML = `Average: ${avg}`;
      console.log(amount)
    })

    // let lightOn = false;
    // setInterval(() => {
    //   socket.emit('led', lightOn);
    //   lightOn = !lightOn;
    // }, 5000)
  </script>
</body>
</html>