.brand-logo {
  margin-left: 1.5rem;
}


main {
  display: grid;
  grid-template-columns: 20vw 80vw;

  .sidemenu {
    grid-column: 1/2;
    min-height: 100vh;
  }
  
  .dashboard {
    grid-column: 2/3;
  }
}

