.brand-logo {
  margin-left: 1.5rem;
}


main {
  display: grid;
  grid-template-columns: 20vw 80vw;

  .sidemenu {
    grid-column: 1/2;
    min-height: 100vh;
  }
  
  .dashboard {
    grid-column: 2/3;

    .item-list {
      display: grid;
      grid-template-columns: 1fr 9fr 1fr 9fr;
      column-gap: 1rem;
      row-gap: 1rem;
      margin-top: 1rem;
    }

    .item-list {
      .card {
        margin: 0;
      }

      .list-add {
        visibility: hidden;
        justify-content: center;
        align-self: center;
      }
      .list-add.active { visibility: visible; }
    }
    

    

    #requestList{ 
      visibility: hidden; 
      position: absolute;
      bottom: 5rem;
      right: 5rem;
      width: 400px;
      min-height: 43px;
      border-radius: 1rem;
    }
    #requestList.active { visibility: visible; }
  }
}

